<!DOCTYPE html>
<html>
  <head>
    {% block head_links %}
        <title>{{ title }}</title>
        <link rel="stylesheet" href="./../../static/css/globalCss.css" />
        <link rel="stylesheet" href="./../../static/css/orderPage.css" />   
    {% endblock %}
  </head>
  <body>
    {% extends "/common/base.html" %}
    
    {% block content %}

    <section class="card">
      <!-- Side Bar -->
      <div class="sidebar">
        {% for value in data.side_bar %}
        <div class="sidebar_item" id="{{value}}" onclick="setActiveSideBar('{{value}}')">
          {{ value }}
        </div>
        {% endfor %}
      </div>

      <!-- Side Bar Content -->
      <div class="content">
        <div id="Profile_content" class="sidebar_content">
          <iframe src="./../Profile/profile.html"></iframe>
        </div>
        <div id="Dashboard_content" class="sidebar_content">
          <iframe src="./../Dashboard/dashboard.html"></iframe>
        </div>
        <div id="Order_content" class="sidebar_content">
          <iframe src="./../Order/order.html"></iframe>
        </div>
      </div>
    </section>
    {% endblock %}
  </body>

  {% block bottom_head_links_1 %}
    <script type="text/javascript">
      setActiveSideBar('Profile')

      var dataString = JSON.parse('{{ data | tojson | safe }}')

      function setActiveSideBar(value) {
        let sidebar_item = document.querySelectorAll('.sidebar_item')
        let sidebar_content = document.querySelectorAll('.sidebar_content')

        sidebar_content.forEach(function (item) {
          item.classList.remove('active')
        })
        sidebar_item.forEach(function (item) {
          item.classList.remove('active')
        })

        document.getElementById(value).classList.add('active')
        document.getElementById(value + '_content').classList.add('active')

        // loadContent(value);
      }

      function loadContent(value) {
        fetch(`${value}/${value.toLowerCase()}.html`)
          .then((response) => response.text())
          .then((data) => {
            const tabContent = document.querySelector(`#${value}_content`)
            tabContent.innerHTML = data
          })
      }
    </script>
  {% endblock %}
</html>
