<!DOCTYPE html>
<html>
  <head>
    {% block head_links %}
        <title>{{ title }}</title>
        <link rel="stylesheet" href="./../../static/css/globalCss.css" />
        <link rel="stylesheet" href="./../../static/css/orderPage.css" />   
    {% endblock %}
  </head>
  <body>
    {% extends "/common/base.html" %}
    
    {% block content %}

    <section class="card">
      <!-- Side Bar -->
      <div class="sidebar">
        {% for value in data.side_bar %}
        <div class="sidebar_item" id="{{value}}" onclick="setActiveSideBar('{{value}}')">
          {{ value }}

          {% if value == 'Dashboard' %}
            {% for side_bar_item in data.dashboard %} 
              <div class="dashboard_list_item" id="{{side_bar_item}}" onclick="setInnerActive(event, '{{side_bar_item}}')">{{side_bar_item}}</div>
            {% endfor %}
          {% endif %}
        </div>
        {% endfor %}

        <div class="logout" onclick="logout()">Log Out</div>
      </div>

      <!-- Side Bar Content -->
      <div class="content">
        <div id="Profile_content" class="sidebar_content">
          <iframe src="./../Profile/profile.html"></iframe>
        </div>
        <div id="Order_content" class="sidebar_content">
          <iframe src="./../Order/order.html"></iframe>
        </div>
        <div id="create_user_content" class="sidebar_content">
          <iframe src="./../Dashboard/create_user.html"></iframe>
        </div>
        <div id="sales_report_content" class="sidebar_content">
          <iframe src="./../Dashboard/sales_report.html"></iframe>
        </div>
        <div id="inventory_management_content" class="sidebar_content">
          <iframe src="./../Dashboard/inventory_management.html"></iframe>
        </div>
      </div>
    </section>
    {% endblock %}
  </body>  

  {% block bottom_head_links_1 %}
    <script type="text/javascript">
      let is_admin = localStorage.getItem('is_admin');
      if(is_admin != 'admin')
        document.getElementById('Dashboard').style.display = 'none';

      function setInnerActive(event, value) {
        event.stopPropagation();
        setInnerActiveSideBar(value);
      }

      function setInnerActiveSideBar(value) {
        const content = value.toLowerCase().split(' ').join('_');
        let dashboard_list_item = document.querySelectorAll('.dashboard_list_item')
        let sidebar_content = document.querySelectorAll('.sidebar_content')

        sidebar_content.forEach(function (item) {
          item.classList.remove('active')
        })
        dashboard_list_item.forEach(function (item) {
          item.classList.remove('active')
        })

        document.getElementById(value).classList.add('active')
        document.getElementById(content + '_content').classList.add('active')
      }

      setActiveSideBar('Profile')

      var dataString = JSON.parse('{{ data | tojson | safe }}')

      function setActiveSideBar(value) {
        let sidebar_item = document.querySelectorAll('.sidebar_item')
        let sidebar_content = document.querySelectorAll('.sidebar_content')

        sidebar_content.forEach(function (item) {
          item.classList.remove('active')
        })
        sidebar_item.forEach(function (item) {
          item.classList.remove('active')
        })

        document.getElementById(value).classList.add('active')

        if(value != 'Dashboard') 
          document.getElementById(value + '_content').classList.add('active')
        else 
         setInnerActiveSideBar('Create User');
      }

      function loadContent(value) {
        fetch(`${value}/${value.toLowerCase()}.html`)
          .then((response) => response.text())
          .then((data) => {
            const tabContent = document.querySelector(`#${value}_content`)
            tabContent.innerHTML = data
          })
      }

      function logout() {
        localStorage.removeAll();
        window.location.href = '/'
      }
    </script>
  {% endblock %}
</html>
