<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./../../static/css/dashboard.css" />
    <link rel="stylesheet" href="../../static/css/snackBar.css" />
  </head>
  <body>
    <header>Create User</header>
    <div class="profile_card">
      <div class="card_item">
        <div class="header">Name</div>
        <input type="text" id="name" />
      </div>
      <div class="card_item">
        <div class="header">Password</div>
        <input type="number" id="password" maxlength="4" pattern="^[0-9]$" onkeyup="checkLength()"/>
      </div>
      <div class="card_item flex-box">
        <div class="header">Admin</div>
        <input type="checkbox" id="is_admin" />
      </div>
      <div class="card_item button-card">
        <div class="header button" onclick="create_user()">CREATE USER</div>
      </div>
    </div>
    <div id="snackbar"></div>
    <script>
      
      function checkLength() {
        pwd = document.getElementById('password')
        if(pwd.value.length > 4 ) {
          alert('Pwd should not exceed more than 4 digits')
            pwd.value = ''
        }
      }

      function create_user() {
        fetch('http://127.0.0.1:8000/create_user', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            name: document.getElementById('name')?.value,
            password: document.getElementById('password')?.value,
            is_admin: document.getElementById('is_admin').checked,
          }),
        }).then((response) => response.json())
          .then((data) => {
            document.getElementById('name').value = ''
            document.getElementById('password').value = ''
            document.getElementById('is_admin').checked = false
            if (data.success == true) {
              var x = document.getElementById('snackbar')
              x.innerHTML = 'Saved Successfully'
              x.className = 'show'
              setTimeout(function(){ x.className = x.className.replace("show", ""); }, 2000);
            } else{
              var x = document.getElementById("snackbar");
              x.innerHTML = 'Something went wrong'
              x.className = "show";
              setTimeout(function(){ x.className = x.className.replace("show", ""); }, 2000);
            }
          })
      }
    </script>
  </body>
</html>
