<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./../../static/css/dashboard.css">
    </head>
    <body>
        <div class="profile_card">
            <div class="card_item">
                <div class="header">Name</div>
                <input type="text" />
            </div>
            <div class="card_item">
                <div class="header">Password</div>
                <input type="text" />
            </div>
            <div class="card_item flex-box">
                <div class="header">Admin</div>
                <input type="checkbox" />
            </div>

            <div class="card_item button-card">
                <div class="header button">CREATE USER</div>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>